.wrapper {
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0;
    border-bottom: 1px solid #000;
}

.cta-info{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.tickets {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    justify-content: space-between;
}

.cta {
    padding: 1rem 3rem;
    font-size: 1.4rem;
    background-color: var(--color-grey-8);
    border-radius: 5rem;
}

.cta:hover {
    background-color: var(--color-grey-10);
}