.event-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
  margin: 8rem 0;
}

.event-card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.09);
}

.event-card:hover {
  cursor: pointer;
}

.image-wrap {
  flex: 1;
  margin-bottom: 2rem;
}

.image-wrap img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
