.cart-list {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.cta-cart:hover {
  background-color: var(--color-grey-10);
}

.cta-cart {
  width: 15rem;
  font-size: 1.4rem;
  padding: 1.5rem 4.5rem;
  border-radius: 1rem;
  margin: 1rem auto;
  cursor: pointer;
  text-align: center;
  background-color: var(--color-grey-8);
}
